<div style="margin: 100px;">
    <form [formGroup] ="UserForm" (ngSubmit)='updateUser()'>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="username">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" formControlName="age">
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Gender</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="gender">
              <option selected>Choose...</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
            </select>
          </div>

        <div class="mb-3">
            <label for="Country" class="form-label">Country</label>
            <input type="text" class="form-control" id="Country" formControlName="country">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!UserForm.valid">Submit</button>
        <button class="btn btn-danger" style="margin: 0 0 0 88%;" routerLink="/user">Go Back</button>
      </form>
</div>
