.logout{
    border-radius: 40px;
    margin: 20px; 
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(158, 13, 13);
    transition: all .2s;
}

.logout:hover{
    background-color: rgb(83, 95, 204);
    transform: translateY(-3px);
}

.logout:active{
    background-color: rgb(83, 95, 204);
    transform: translateY(-1px);
}