
<div style="margin: 100px;">
    <form [formGroup] ="ProductForm" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="name" formControlName="productname" [ngClass] ="{'form-error':ProductForm.get('productname').touched && ProductForm.get('productname').invalid}" >
          <span style="color: red;"  *ngIf="ProductForm.get('productname').touched && ProductForm.get('productname').invalid">
            Enter user Phone Number
          </span>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Type</label>
            <select class="form-select" id="inputGroupSelect01" formControlName="type" [ngClass] ="{'form-error':ProductForm.get('type').touched && ProductForm.get('type').invalid}">
              <option selected>Choose...</option>
              <option value="Stationary">Stationary</option>
              <option value="Appliances">Appliances</option>
              <option value="Furniture">Furniture</option>
            </select>
            <span style="color: red;" *ngIf="ProductForm.get('type').touched && ProductForm.get('type').invalid">
              Select product type
            </span>
        </div>

        <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="Quantity" formControlName="quantity" [ngClass] ="{'form-error':ProductForm.get('quantity').touched && ProductForm.get('quantity').invalid}">
            <span style="color: red;" *ngIf="ProductForm.get('quantity').touched && ProductForm.get('quantity').invalid">
              Enter quantity of the product
            </span>
        </div>

        <button type="submit" class="btn btn-primary"[disabled]="!ProductForm.valid" >Submit</button>
        <button class="btn btn-danger" style="margin: 0 0 0 88%;" routerLink="../product">Go Back</button>
      </form>
</div>


