<h1 style="font-family: 'Do Hyeon', sans-serif;">Product List</h1>
<button class="btn btn-dark" style="margin: 30px 0 30px 90%;" routerLink="../product_create"> + Add a Product</button>
<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let product of productList">
        <td>{{product.id}}</td>
        <td>{{product.productname}}</td>
        <td>{{product.type}}</td>
        <td>{{product.quantity}}</td>
        <td>
            <tr>
              <button class="btn btn-primary" style="margin: 0 10px 0 0;" routerLink="../product_view/{{product.id}}" >View</button>
              <button class="btn btn-info" style="margin: 0 10px 0 0;" routerLink="../product_edit/{{product.id}}">Edit</button>
              <button class="btn btn-danger" (click)="deleteProduct(product.id)" >Delete</button>
            </tr>
        </td>
      </tr>
    </tbody>
  </table>